<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="kapsel-plugin-push"
    version="3.11.0">

	<name>Push</name>

	<dependency id="kapsel-plugin-corelibs" />
    <dependency id="kapsel-plugin-inappbrowser" />
	<dependency id="kapsel-plugin-logon" />
    <dependency id="kapsel-plugin-logger" />
   	<dependency id="kapsel-plugin-settings" />
    <dependency id="cordova-plugin-device" />

    <js-module name="Push" src="www/push.js">
        <clobbers target="sap.Push"/>
    </js-module>

        <asset target="plugins/kapsel-plugin-push/www/messages_en.properties" src="www/messages_en.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_ar.properties" src="www/messages_ar.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_de.properties" src="www/messages_de.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_es.properties" src="www/messages_es.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_fr.properties" src="www/messages_fr.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_ja.properties" src="www/messages_ja.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_pt.properties" src="www/messages_pt.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_ru.properties" src="www/messages_ru.properties"/>
        <asset target="plugins/kapsel-plugin-push/www/messages_zh_CN.properties" src="www/messages_zh_CN.properties"/>

	<platform name="android">
        <info>
            For Android Studio, you must install the Google Repository found in the Android SDK Manager under Android SDK within SDK Tools tab.
        </info>

		<config-file target="res/xml/config.xml" parent="/widget">
			<feature name="SMPPushPlugin" required="true" onload="true">
			  <param name="android-package" value="com.sap.mp.push.PushPlugin"/>
			</feature>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.VIBRATE"/>
			<uses-permission android:name="android.permission.GET_TASKS" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.GET_ACCOUNTS" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
			<permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
			<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
  		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.sap.mp.push.PushHandlerActivity"/>
 			<receiver android:name="com.sap.mp.push.PushGCMBroadCastReciever" android:permission="com.google.android.c2dm.permission.SEND" >
 				<intent-filter>
 					<action android:name="com.google.android.c2dm.intent.RECEIVE" />
 					<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 					<category android:name="$PACKAGE_NAME" />
 				</intent-filter>
 			</receiver>
 			<service android:name="com.sap.mp.push.PushIntentService" />
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		</config-file>


    	<source-file src="android/libs/push-android-3.11.0.jar" target-dir="libs"/>
        <framework src="com.google.android.gms:play-services-gcm:7.3.0" />
  	</platform>
    <platform name="ios">

		<config-file target="config.xml" parent="/widget">
			<feature name="SMPPushPlugin" required="true" onload="true">
			  <param name="ios-package" value="SMPPushPlugin"/>
			  <param name="onload" value="true"/>
			</feature>
		</config-file>

        <source-file framework="true" src="ios/libs/libSMPPushPlugin.a"/>
    </platform>

    <platform name="windows">
        <js-module name="PushModule" src="windows/src/SMPPushPlugin.js">
            <clobbers target="sap.PushModule"/>
        </js-module>
        <config-file target="package.appxmanifest" parent="/Package/Applications/Application">
           <Extensions>
            <Extension Category="windows.backgroundTasks" StartPage="windows/src/BackgroundPush.js">
              <BackgroundTasks>
                <Task Type="pushNotification" />
              </BackgroundTasks>
            </Extension>
          </Extensions>
         </config-file>
         <info>
         ******************************************************************
         * Manual Steps required to complete plugin installation.
         * package.windows.appxmanifest and package.phone.appxmanifest will display an error when the solution is opened for the first time.
         *
         * Please follow these steps to fix these errors
         * 1) Open package.windows.appxmanifest.
         * 2) Select Notifications -> Lock Screen Notifications.
         * 3) Change the value to Badge.
         * 4) Select "Visual Assets" tab.
         * 5) Select "Badge Logo" and provide an image that should be used for the badge logo.
         * 6) Save the file.
         * 7) Repeat steps 2-7 for package.phone.appxmanifest.
         ********************************************************************
         </info>
    </platform>

</plugin>
